body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.bootstrap_navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #7113ff;
    border: 2px solid #7113ff;
    gap: 20px;
    height: 60px;
}
.navbar_logo{
    display: flex;
    width: 40px;
    height: 40px;
    list-style-type: none;
    margin-left: 30px;
    transition: transform 0.3s ease;
}

.navbar_logo:hover {
    transform: rotate(-8deg) scale(1.1);
}

.navbar_links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* margin-left: 20px; */
}
.links {
    margin-left: 20px;
}
.links a{
    color: rgb(224, 223, 223);
    font-style:normal;
    font-weight:500;  
    font-size: 17px;
    text-decoration: none;
}
.links a:hover {
    color: aliceblue;
}


.bootstrap_navbar input {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    height: 30px;
    width: 220px;
    background-color:none;
    border: 3px solid #7113ff;
    border-radius: 10px;
}
.bootstrap_navbar input::placeholder {
    text-align:start;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
}