* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Bootstrap Navbar */
.bootstrap_navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #7113ff;
    border: 2px solid #7113ff;
    gap: 20px;
    height: 60px;
}
.navbar_logo{
    display: flex;
    width: 40px;
    height: 40px;
    list-style-type: none;
    margin-left: 30px;
    transition: transform 0.3s ease;
    cursor:cell;
}
.navbar_logo:hover {
    transform: rotate(-8deg) scale(1.1);
}
.navbar_links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* margin-left: 20px; */
}
.links {
    margin-left: 20px;
}
.links a{
    color: rgb(224, 223, 223);
    font-style:normal;
    font-weight:500;  
    font-size: 17px;
    text-decoration: none;
    transition:0.1s;
}
.links a:hover {
    color: aliceblue;
}

.bootstrap_navbar input {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    height: 30px;
    width: 220px;
    background-color:none;
    border: 2.5px solid #a2a2a2;
    border-radius: 10px;
}
.bootstrap_navbar input::placeholder {
    text-align:start;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;;
}
.bootstrap_navbar input:focus::placeholder {
    color:transparent;
}

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
    gap: 8px;
}
.social_links i:hover{
    transition: 0.1s ease;
    transform: scale(1.2);
}
#version{
    display: flex;
    cursor: pointer ;
    color: rgb(224, 223, 223);
    margin-left: 30px;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-left: 9px;
    padding-right: 9px;
}

/* LinkedIn Navbar*/

.linkedin_navbar {
    display: flex;
    justify-content: start;
    align-items: space-between;
    margin-top: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(203, 200, 200);
    height: 60px;
}
.linkedin_navbar_links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type:none;    
    gap:0px;
}
.linkedin_navbar_logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.linkedin_navbar_links input {
    height: 35px;
    width: 200px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    /* transition: width 0.3s ease; */
}
.linkedin_navbar_links input::placeholder {
    text-align: start;
    padding-left:10px;
}
.linkedin_navbar_links input:focus::placeholder {
    color:transparent;
}
.linkedin_navbar_links2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    list-style-type: none;
    gap: 40px;
    cursor: pointer;
}
.linkedin_navbar_links2 i {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: rgb(100, 98, 98);
}
.linkedin_navbar_links2 li {
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    font-size: 16px;
    color: #acacac;
}
.linkedin_navbar_links2 li:hover,
.linkedin_navbar_links2 li:hover i {
    color: black;
    transition: 0.2s ease;
}
#B {
    border-left: 1px solid grey;
    padding-left: 10px;
}
#C{
    width:100px; 
    font-size: 13px;
}
#C a{
    color: darkgoldenrod;
}
#C a:hover {
    color: black;
    transition: 0.2s ease;
}

/* Github Navbar */

.github_navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(72, 72, 72);
    background-color: rgb(72, 72, 72);
    height: 50px;                                     /*//////////////x`*/
}
.github_navbar_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 20px;
    gap:18px;
}
.github_navbar_links li .fa-bars {
    font-size: 23px;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
}
.github_navbar_links li .fa-bars:hover {
    background-color: rgb(89, 89, 89);
    transition: 0.3s ease;
}
.github_navbar_links li .fa-github{
    font-size: 29px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
li .fa-github:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}
#username {
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
}#username:hover{
   background-color: rgb(89, 89, 89);
   transition: 0.3s ease;
}



.github_navbar_links2 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    list-style-type: none;
    margin-right: 15px;    
    gap: 12px;
}
.github_navbar_links2 input {
    border: 2px solid rgb(129, 129, 129);
    background-color: rgb(89, 89, 89);
    width: 230px;
    height: 30px;
    border-radius: 6px;
}
.github_navbar_links2 input::placeholder {
    text-align: start;
    padding: 10px;
    font-size: 16px;
    color: rgb(172, 172, 172);
}
.github_navbar_links2 input:focus::placeholder {
    color: transparent;
}


.github_navbar_links2 li {
    
    cursor: pointer;
}
#copilot {
    font-size:18px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
}
#copilot:hover {
    background-color: rgb(89, 89, 89);
    transition: 0.3s ease-out;
}

#line {
    cursor: none;
}

#plus {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 5px 0px 5px ;
}
#plus:hover{
    background-color: rgb(89, 89, 89);
    opacity: 1;
}

.fa-circle-dot {
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
}
.fa-circle-dot:hover {
    background-color: rgb(89, 89, 89);
    transition: 0.3s ease-out;
}
.fa-code-pull-request {
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
}
.fa-code-pull-request:hover {
    background-color: rgb(89, 89, 89);
    transition:0.3s ease-out
}
.fa-hard-drive {
    padding:5px;
    border:1px solid black;
    border-radius: 6px;
}
.fa-hard-drive:hover {
    background-color: rgb(89, 89, 89);
    transition:0.3s ease-out;
}
.fa-circle-user {
    padding:5px;
    border: 1px solid black;
    border-radius: 6px;
}
.fa-circle-user:hover {
    background-color: rgb(89, 89, 89);
    transition:0.3s ease-out;
}



.github_navbar_links3 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    gap: 20px;
}
.github_navbar_links3 li {
    border: none;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}
.github_navbar_links3 li:hover {
    background-color:rgb(89, 89, 89);
    transition:0.3s ease-out ;
}



/* Twitter Navbar */
